{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <title>Home</title>
    <script src="{% static 'js/Home.js' %}"></script>
</head>
<body>
    <p class="bouton">Sign up</p>
    <p class="bouton"><a href="{% url 'LivePreds' %}">Live Predictions</a></p>
    <p class="bouton"><a href="{% url 'Dashboard' %}">Dashboard</a></p>
    <p class="bouton">Documentation</p>
    <p class="bouton">About us</p>
    <p></p>
    <h1 class="title">Empower Your Runways: Advanced De-Icing Predictions for Safer Skies</h1>
    <a href="{% url 'LivePreds' %}">Live Predictions and more</a>
    <a href="{% url 'Dashboard' %}">Dashboard</a>

    <a href="{%url 'Model_inputs' %}">model input</a>
    <a href="{%url 'apis' %}">APIs</a>



    
</body>
</html>